{% extends 'base.html.twig' %}

{% block title %}Fiche d'un role{% endblock %}

{% block body %}
    <h1>{{ role.role|capitalize }}</h1>
    <nav><a href="{{ path('roles') }}">Retour à l'index</a></nav>
	<h2>Liste des utilisateurs</h2>
    <ul>
    {% for userRole in role.users %}
        <li>{{ userRole.firstname }} {{ userRole.lastname }}</li>
    {% endfor %}
    </ul>

{% endblock %}
