<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Projet réservations - {% block title %}{% endblock %}</title>
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h3 class="my-0 mr-md-auto font-weight-normal" style="margin-right:300px;">Projet Réservations</h3>
          <form class="form-inline mt-2 mt-md-0" style="margin-right:  200px;">
            <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">🔍</button>
          </form>
      <a class="btn btn-outline-primary" href="#" style="
    margin-right:  10px;
    background-color:  lightgreen;
    border-color: green;
    color:  darkgreen;">Se connecter</a>
   
    <a class="btn btn-outline-primary" href="#">S'inscrire</a>
</div>
     
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	    <div class="container">
		
        
        {% block body %}{% endblock %}
		</div>
		
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
	<footer>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h4 class="my-0 mr-md-auto font-weight-normal" style="margin-left:500px;">Projet Réservations icc/EPFC 2021</h4>
       </div>
    </footer>
</html>
